.answer {
  display: none;
  font-weight: lighter;
  font-stretch: ultra-expanded;
}

.flashcard {
  background-color: #66CCCC;
  text-align: center;
  padding: 30px;
}

.flashcard-clicked {
  background-color: gray;
}

.row {
  margin-top: 30px;
}

.container {
  background-color: #F8F8F8;
  padding: 20px;
}

.concept {
  font-weight: bold;
  color: white;
}


h1 {
  text-align: center;
  margin: 40px;
}
